:root {
  --pink: #bd1572;
  --green: #4ff500;
  --purple: #9e09c3;
  --background: #111e38;
  --shadow: #2c4984;

  --gradient1: #43f30f;
  --gradient2: #8d9e25;
  --gradient3: #e83441;
  --gradient4: #cf2f84;
  --gradient5: #7a3a85;
}
