---

---

<!doctype html>
<html>
    <head lang="da">
        <meta name="robots" content="noindex">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Om Kulturnat</title>
        <link rel="stylesheet" href="../../public/style.css">
    </head>
<body>

    <main>
    
        <div class="return">
            <img src="../../public/placeholder.webp" alt="pil">
            <p>Gå til forsiden</p>
        </div>

        <h4>Om Helsingør Kulturnat</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <div class="gallery_horizontal">
            <img src="../../public/placeholder.webp" alt="">
            <img src="../../public/placeholder.webp" alt="">
        </div>

        <p class="bold">Kulturnætterne i Helsingør Kommune er en årlig tilbagevendende begivenhed</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, earum.</p>
        <button type="button"> Program</button>

        <div class="gallery_vertical">
            <img src="../../public/placeholder.webp" alt="">
            <img src="../../public/placeholder.webp" alt="">
        </div>

    </main>
    <footer>
        
    </footer>
</body>
</html>