---
import Card from "../components/Card.astro";


---

<!doctype html>
<html lang="da">
    <head>
		<meta name="robots" content="noindex">
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kulturnat</title>
        <link rel="stylesheet" href="../../public/style.css">
    </head>
<body>

    <main>
    
        <section class="hero_section">
            <div>
                <h1>Helsingør</h1>
                <h7>Kulturnat </h7>
            </div>

            <div class="background_number"> 
                <h8>2</h8>
                <h8>5</h8>
            </div>

            <div class="timer"></div>

            <div class="read_more">
                <p>Læs Mere</p>
                <img src="../../public/placeholder.webp" alt="">
            </div>

            <section class="about">
                <div class="about_header">
                <h3>Hvad er</h3>
                <h9>Helsingør Kulturnat?</h9>
                </div>

                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet perspiciatis dolorem, quam ducimus cumque impedit laudantium veniam quasi iusto ad.</p>
                </div>
                <button type="button"> Læs mere om Kulturnatten 2024</button>

            </section>

        </section>

    </main>
    <footer>
        
    </footer>
</body>
</html>

<style>
    .about{
        border-radius: 150px;
        border-width: 15px;
    }
</style>