---
import Card from "../components/Card.astro";


---

<!doctype html>
<html>
    <head>
        <title>Kulturnat</title>
        <link rel="stylesheet" href="../../public/style.css">
    </head>
<body>

    <main>
    
        <Card Place="Place" Desc="Desc" Link="www.google.com">

        </Card>

    </main>
    <footer>
        
    </footer>
</body>
</html>