---
import Card from "../components/Card.astro";


---

<!doctype html>
<html>
    <head>
        <title>Kulturnat</title>
        <link rel="stylesheet" href="../../public/style.css">
    </head>
<body>

    <main>
    
        <div class="landing_btns">
            <button type="button"> Billetsalg </button>
            <button type="button"> Program </button>
        </div>

        

    </main>
    <footer>
        
    </footer>
</body>
</html>