---
import Card from "../components/Card.astro";
import Filter from "../components/Filter.astro";
---

<!doctype html>

<html lang="da">
    <head>
        <meta name="robots" content="noindex">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kategorier</title>
        <link rel="stylesheet" href="../../public/style.css">
    </head>
<body>

    <main>

        <div class="return">
            <img src="../../public/placeholder.webp" alt="pil">
            <p>Gå til forsiden</p>
        </div>

        <div class="filter_city">
            <Filter FilterText="Helsingør" />
            <Filter FilterText="Esbergærde" />
            <Filter FilterText="Tikøb" />
        </div>

        <section>
        <div class="program_text">
        <h5>Program</h5>
        </div>
        
        <p>Denne liste vil løbende blive opdateret ... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        </section>

        <div class="filter_events">
            <Filter FilterText="Events" />
            <Filter FilterText="Søg" />

        </div>

        <div class="div_card">
        
            <Card Event="" Place="" Desc="" Link="" />

            <Card Event="" Place="Place" Desc="Desc" Link="www.google.com">
        
        </div>

    </main>
    <footer>
        
    </footer>
</body>
</html>