---
import Card from "../components/Card.astro";
import Filter from "../components/Filter.astro";
---

<!doctype html>
<html>
    <head>
        <title>Kategorier</title>
        <link rel="stylesheet" href="../../public/style.css">
    </head>
<body>

    <main>
        <div class="div_filter">
            <Filter FilterText="Text" />
        </div>

        <div class="div_card">
        
            <Card Event="" Place="" Desc="" Link="" />

            <Card Event="" Place="Place" Desc="Desc" Link="www.google.com">

            </Card>
        
        </div>

    </main>
    <footer>
        
    </footer>
</body>
</html>