---
import Card from "../components/Card.astro";
---

<!doctype html>
<html>
    <head>
        <title>Kategorier</title>
        <link rel="stylesheet" href="../../public/style.css">
    </head>
<body>

    <main>
        <div>
        
            <Card />
        </div>

    </main>
    <footer>
        
    </footer>
</body>
</html>